
/*style for photo*/
.main-page-image{
    width: 25em;
    height: 40em;
}
.main-img-cont{
    height: 20%;
}
/* Grid container */
.container {
    max-width: 900px;
    margin:0 auto;
    padding: 20px;
}

.about-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
/* Main page text */
.main-page-text {
    flex: 2;
    margin-right: 10px;
}

/* Main page image */
.main-page-image {
    flex: 1;
}

/* Current project section */
.current-project {
    margin-top: 30px
}
.current-project p {
    color: #555
}
/*Section for project image and names*/
.current-project{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 0;
    flex:1;


}
.project-image {
    width: 15em;
    height: 15em;
    border-radius: 15px;
    box-shadow: #555 0px 0px 10px;
}
p {
    margin-bottom: 3em;
    margin-top: 3em;
}